#submit, #animate {
    float: right;
}
#film, #film-back {
    position: relative;
    top: 0px;
    left: 0px;

    background-color: white;
    display: block;
    border: 1px solid black;
    margin: auto;

    transition-property: top, left, opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;    
}
#film {
    width: 72mm;
    height: 86mm;
}
#hidden {
    position: absolute;
    left: 0;
    top: -30mm; 
    width: 100%;
}
#film-back {
    transition-duration: 1s;
    width: 24mm;
    height: 29mm;
}
#preview {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-position: center;
    background-size: cover;
    color: white;
    margin: 5mm;
    width: 62mm;
    height: 62mm;
}
#chooser {
    opacity: 0;
    width: 0;
    height: 0;
}
